body {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 4em;

	background-image:
	-webkit-linear-gradient(90deg,
			rgba(97%,97%,100%,0) 0%,
	        	rgba(97%,97%,100%,0) 90%,
	        	rgba(0%,0%,0%,0.15) 100%);

	background-size:1.5em 1.5em;
	line-height:1.5em;
        padding: 1.5em;
}
